@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/** Colors **/

$primary-color-red: hsl(18,
58%,
50%);
$primary-color-blue: #2F4858;
$color-blue-500: #A1C6EA;
$color-blue-300: #BBD1EA;
$color-white: #DBDFAC;
$color-bright-button: #36F1CD;

/** Typography **/

$font-base: 'Arvo',
serif;
$font-lato: 'Lato',
sans-serif;
$font-xs: 12px;
$font-sm: 15px;
$font-m: 24px;
$font-lg: 30px;
$font-xl: 45px;

/** Spacing **/

$gap: .4rem;
$grid-columns: repeat(15,
1fr);