@mixin flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn {
    @include flexRow;
    flex-direction: column;
}

@mixin grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

@mixin buttonBorder {
    border: 3px solid $color-blue-300;
    border-radius: 12px;
}

@mixin numberInput {
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}